{% extends 'base.html' %}

{% block title %} Modifica {% endblock%}
                
{% block content %}
    <form action= "/modifica/{{id}}" method="post">
        {{ form.hidden_tag() }}
        <div class='field'>
            {{ form.fecha.label }}
            {{ form.fecha (type='date') }}
        </div>

        <div class='field'>
            {{ form.concepto.label }}
            {{ form.concepto }}
        </div>
        
       <div class='field'>
           {{ form.cantidad.label }}
           {{ form.cantidad }} 
       </div>
       <div class='field'>
           {{ form.submit}}
       </div>
          
    </form>  

{% endblock %}